/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #003cff;
    --sec-bg-colour: #000000;
    --main-colour: #05060a;
    --sec-colour: #1100ff;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color:#000000;
    color: white;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color:#003cff
    color:  white;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: var(--main-colour);
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: var(--main-colour);
     color: white;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #003cff;
     color: white;
}


.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color:  #003cff;
     color: white;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection; 
    background-color: #003cff;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color:#000000;
    color: white;
}
